#
# Environment configs
#
BQ_CLIENT_EMAIL=someone@your-project-id.iam.gserviceaccount.com
BQ_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
BQ_PROJECT_ID=
BQ_DATASET=
CLIENT_ID=
CLIENT_SECRET=
FEEDER_HOST=feeder.prx.org
ID_HOST=
MAXMIND_ACCOUNT_ID=
MAXMIND_LICENSE_KEY=
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APP_NAME=
PG_DATABASE=castle_development
PG_HOST=db
PG_PASSWORD=password
PG_POOL_SIZE=10
PG_PORT=5432
PG_USER=castle_user
REDIS_HOST=
REDIS_PORT=
REDIS_NAMESPACE=
REDIS_POOL_SIZE=
REDIS_CLONE_HOST=
REDIS_CLONE_PORT=
REDIS_CLONE_NAMESPACE=
REDIS_CLONE_POOL_SIZE=
# fake account-id auth in development
DEV_AUTH=
