#
# Environment configs
#
LOCAL_ENV=true
BQ_CLIENT_EMAIL=someone@your-project-id.iam.gserviceaccount.com
BQ_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
BQ_PROJECT_ID=
BQ_DATASET=
FEEDER_HOST=feeder.prx.org
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APP_NAME=
PG_DATABASE=castle_development
PG_HOST=db
PG_PASSWORD=password
PG_POOL_SIZE=10
PG_PORT=5432
PG_USER=castle_user
REDIS_HOST=
REDIS_PORT=
REDIS_POOL_SIZE=
ID_HOST=
DEV_AUTH=
