#
# Environment configs
#
BQ_CLIENT_EMAIL=someone@your-project-id.iam.gserviceaccount.com
BQ_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
BQ_PROJECT_ID=
BQ_DATASET=
BQ_DOWNLOADS_TABLE=
BQ_IMPRESSIONS_TABLE=
REDIS_HOST=
REDIS_PORT=
REDIS_POOL_SIZE=
BASIC_AUTH_USER=
BASIC_AUTH_PASS=
